extends layout

block content
    .title
        p Flowchart
    main.row.w-100.m-0
        // control de herramientas
        .flex-shrink-0.col-2.vh-100.bg-white.p-3.shadow.scrolleable
            //.d-flex.align-items-center.pb-1.mb-3.link-dark.border-bottom
                span.fs-5.fw-semibold Herramientas
            .d-flex.justify-content-between
                i.bi.bi-download(title="Descargar Diagrama")
                i.bi.bi-upload(title="Cargar Diagrama")
                i.bi.bi-trash2(title="Eliminar Diagrama")
                i.bi.bi-type(title="Editar tamaño texto")
                i.bi.bi-paint-bucket(title="Modificar fondo")
                    input#in-color-bg.form-control.form-control-color.d-none(type="color" value="#563d7c" title="Choose your color")
                i.bi.bi-palette(title="Modificar contorno")
                    input#in-color-border.form-control.form-control-color.d-none(type="color" value="#563d7c" title="Choose your color")
                i.bi.bi-x-lg(title="Eliminar Elemento")
            .d-flex.align-items-center.pb-1.pt-3.mb-3.border-bottom
                span.fs-5.fw-semibold Símbolos
            ul.list-unstyled.ps-0.justify-content-center
                #uml-start(draggable="true")
                #uml-process(draggable="true")
                #uml-condition(draggable="true")
                #uml-declaration(draggable="true")
                #uml-input(draggable="true")
                #uml-output(draggable="true")
                #uml-end(draggable="true")





        // contaniner será el layout del editor
        #layout.col-7.bg-light.vh-100.scrollbar.scrolleable

        // container del código en C
        #cCode.col-3.vh-100.bg-white.pb-1.mb-3.shadow.p-3.scrolleable
            .fs-5.fw-semibold.border-bottom.pb-1 Código en C
            div
                svg(xmlns='http://www.w3.org/2000/svg' width='54' height='14' viewbox='0 0 54 14')
                    g(fill='none' fill-rule='evenodd' transform='translate(1 1)')
                        circle(cx='6' cy='6' r='6' fill='#FF5F56' stroke='#E0443E' stroke-width='.5')
                        circle(cx='26' cy='6' r='6' fill='#FFBD2E' stroke='#DEA123' stroke-width='.5')
                        circle(cx='46' cy='6' r='6' fill='#27C93F' stroke='#1AAB29' stroke-width='.5')
