*{ padding: 0; margin: 0;}

.title{
	text-align: center;
	padding-top: 5px;
	height: 8%;
	background-color: #0c63e4;
	color: white;
	font-family: "Bebas Neue";
	font-size: 30px;
}

html, body { height: 100%;}

body {
	background-color: #f0f0ff;
	font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-seri;
}

main { padding: 10px; height: 92%}
main > div { max-height: 100% }

.panel{ width: 40px;}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

/*
    Don't remove anything beginning here, DANY! 😒
 */
#layout{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	//grid-template-rows:    repeat(17, 1fr);
	//gap: 10px;
}

#cText{ font-family: "Bebas Neue"}

.scrolleable
	{overflow-y: auto }
.scrolleable::-webkit-scrollbar-track
	{ -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: #F5F5F5; }
.scrolleable::-webkit-scrollbar
	{ width: 8px; background-color: #F5F5F5; }
.scrolleable::-webkit-scrollbar-thumb
	{ border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #555; }

.box {
	border-radius: .5em;
	padding: 8px;
}

//.box::after {
//	content:"";
//	display: inline-block;
//	height: 0.5em;
//	vertical-align: bottom;
//	width: 100%;
//	margin-right: -100%;
//	margin-left: 10px;
//	border-top: 1px solid black;
//}

/*
	Icons
 */
[id^="uml-"] {
	width: 90%;
	height: 60px;
	margin-top: 10px;
	margin-left: 5%;
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
/*
	Inputs
 */

.in-popup {
	position: absolute;
	top: 125%;
	left: 50%;
	margin-left: -80px;
}

.disabledbutton {
	pointer-events: none;
	opacity: 0.4;
}

input[type=color]
	{ width: 3rem; }

input[type="number"] {
	height: 32px;
	border-radius: 4px;
	border: 1px solid #d8d8d8;
	position: relative;
	text-align: center;
	font-size: 20px;
	width: 80px;
	outline: none;
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2067%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke-width%3D%222%22%3E%3Cline%20x1%3D%221%22%20x2%3D%2250%22%20y1%3D%2233.5%22%20y2%3D%2233.5%22%20stroke%3D%22%23D8D8D8%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2020)%20rotate(45)%20translate(-25%20-20)%22%20points%3D%2219%2026%2019%2014%2032%2014%22%20stroke%3D%22%23000%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2045)%20rotate(225)%20translate(-25%20-45)%22%20points%3D%2219%2052%2019%2039%2032%2039%22%20stroke%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
	background-position: center right;
	background-size: contain;
	background-repeat: no-repeat;
	caret-color: transparent;
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	opacity: 1 !important;
	background: transparent !important;
	border-width: 0;
	margin: 0;
	border-left: 1px solid #d8d8d8;
	height: 34px;
	width: 23px;
	cursor: pointer;
}

input[type=number]:focus {
	outline: 0;
}

.quantity-nav {
	float: left;
	position: relative;
	height: 2.5rem;
}

.quantity-button {
	position: relative;
	cursor: pointer;
	border: none;
	border-left: 1px solid rgba(0, 0, 0, 0.08);
	width: 1.25rem;
	text-align: center;
	color: #333;
	font-size: 13px;
	line-height: 1.5;
	padding: 0;
	background: #FAFAFA;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.quantity-button:active {
	background: #EAEAEA;
}

.quantity-button.quantity-up {
	position: absolute;
	height: 50%;
	top: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 0 4px 0 0;
	line-height: 1.6
}

.quantity-button.quantity-down {
	position: absolute;
	bottom: 0;
	height: 50%;
	border-radius: 0 0 4px 0;
}

/*
	Layout
 */
[class^="uml-"]
	{ .box }
#uml-start, #uml-end
	{ background-image: url("/img/start.svg"); }
#uml-process
	{ background-image: url("/img/process.svg"); }
#uml-condition
	{ background-image: url("/img/condition.svg"); }
#uml-declaration
	{ background-image: url("/img/declaration.svg"); }
#uml-input
	{ background-image: url("/img/input.svg"); }
#uml-output
	{ background-image: url("/img/output.svg"); }

.box.over
{ border: 3px dotted #666; }

.dragged {
	user-select: none;
	opacity: 0.1;
	cursor: default;
}

[draggable]
{ user-select: none; }

.container.jsx-1586752702 .CodeMirror__container {
	min-width: inherit;
	position: relative;
	z-index: 1;
	border-radius: 5px;
}

#textcode{
	resize: none;
	font-size: 15px;
}
