*{ padding: 0; margin: 0;}

.title{
	text-align: center;
	padding-top: 5px;
	height: 8%;
	background-color: #0c63e4;
	color: white;
	font-family: "Bebas Neue";
	font-size: 30px;
}

html, body { height: 100%;}

body {
	background-color: #f0f0ff;
	font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-seri;
}

main { padding: 10px; height: 92%}
main > div { max-height: 100% }

.panel{ width: 40px;}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

#cCode{
	position: relative;
	background-color: white;
}

/*
    Don't remove anything beginning here, DANY! 😒
 */
#layout{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows:    repeat(17, 1fr);

	//gap: 10px;
}

.scrolleable
	{overflow-y: auto }
.scrolleable::-webkit-scrollbar-track
	{ -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: #F5F5F5; }
.scrolleable::-webkit-scrollbar
	{ width: 8px; background-color: #F5F5F5; }
.scrolleable::-webkit-scrollbar-thumb
	{ border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #555; }

.box {
	//cambie el borde de 3 a 2 y padding de 10 a 8	//	No me peges peduzzi
	border: 2px solid #666;
	background-color: white;
	border-radius: .5em;
	padding: 8px;
	cursor: move;
}

/*
	Icons
 */
[id^="uml-"] {
	width: 90%;
	height: 60px;
	margin-top: 10px;
	margin-left: 5%;
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

/*
	Layout
 */
[class^="uml-"]
	{ .box }
.uml-start, .uml-end,
#uml-start, #uml-end
	{ background-image: url("../uml-svg/point.svg"); }
.uml-process, #uml-process
	{ background-image: url("../uml-svg/process.svg"); }
.uml-condition, #uml-condition
	{ background-image: url("../uml-svg/condition.svg"); }
.uml-declaration, #uml-declaration
	{ background-image: url("../uml-svg/declaration.svg"); }
.uml-input, #uml-input
	{ background-image: url("../uml-svg/input.svg"); }
.uml-output, #uml-output
	{ background-image: url("../uml-svg/output.svg"); }


.box.over
{ border: 3px dotted #666; }

[draggable]
{ user-select: none; }

.container.jsx-1586752702 .CodeMirror__container {
	min-width: inherit;
	position: relative;
	z-index: 1;
	border-radius: 5px;
}