*{ padding: 0; margin: 0;}

html, body { height: 100%;	width: 100%;}

body { background-color: #f0f0ff; font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-seri; }

.title{
	text-align: center;
	padding-top: 6px;
	height: 8%;
	background: linear-gradient(180deg, rgba(40,113,255,1) 0%, rgba(0,144,240,1) 100%);
	color: white;
	font-family: "Bebas Neue";
	font-size: 30px;
	text-shadow: black;
}

main { padding: 10px; height: 92%}
main > div { max-height: 100% }

.panel{ width: 40px;}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}


#layout{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows:    repeat(14, 1fr);
	gap: 15px;
}

#cText{ font-family: "Bebas Neue";}

.scrolleable
	{overflow-y: auto }
.scrolleable::-webkit-scrollbar-track
	{ -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: #F5F5F5; }
.scrolleable::-webkit-scrollbar
	{ width: 8px; background-color: #F5F5F5; }
.scrolleable::-webkit-scrollbar-thumb
	{ border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #555; }

.box {
	border-radius: .5em;
	padding: 8px;
	z-index: 1;
}

.connection {
	z-index: 0;
}

//.box::after {
//	content:"";
//	display: inline-block;
//	height: 0.5em;
//	vertical-align: bottom;
//	width: 100%;
//	margin-right: -100%;
//	margin-left: 10px;
//	border-top: 1px solid black;
//}

/*
	Icons
 */
[id^="uml-"] {
	width: 90%;
	height: 60px;
	margin-top: 10px;
	margin-left: 5%;
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
/*
	Inputs
 */
/* Revisar*******************************************
.in-popup {
	position: absolute;
	top: 125%;
	left: 50%;
	margin-left: -80px;
}
 */

.disabledbutton {
	pointer-events: none;
	opacity: 0.4;
}

input[type=color]
	{ width: 3rem; }

input[type="number"] {
	height: 32px;
	border-radius: 4px;
	border: 1px solid #d8d8d8;
	position: relative;
	text-align: center;
	font-size: 20px;
	width: 80px;
	outline: none;
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2067%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke-width%3D%222%22%3E%3Cline%20x1%3D%221%22%20x2%3D%2250%22%20y1%3D%2233.5%22%20y2%3D%2233.5%22%20stroke%3D%22%23D8D8D8%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2020)%20rotate(45)%20translate(-25%20-20)%22%20points%3D%2219%2026%2019%2014%2032%2014%22%20stroke%3D%22%23000%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2045)%20rotate(225)%20translate(-25%20-45)%22%20points%3D%2219%2052%2019%2039%2032%2039%22%20stroke%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
	background-position: center right;
	background-size: contain;
	background-repeat: no-repeat;
	caret-color: transparent;
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	opacity: 1 !important;
	background: transparent !important;
	border-width: 0;
	margin: 0;
	border-left: 1px solid #d8d8d8;
	height: 34px;
	width: 23px;
	cursor: pointer;
}

input[type=number]:focus { outline: 0; }

.quantity-nav {
	float: left;
	position: relative;
	height: 2.5rem;
}

.quantity-button {
	position: relative;
	cursor: pointer;
	border: none;
	border-left: 1px solid rgba(0, 0, 0, 0.08);
	width: 1.25rem;
	text-align: center;
	color: #333;
	font-size: 13px;
	line-height: 1.5;
	padding: 0;
	background: #FAFAFA;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.quantity-button:active { background: #EAEAEA; }

.quantity-button.quantity-up {
	position: absolute;
	height: 50%;
	top: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 0 4px 0 0;
	line-height: 1.6
}

.quantity-button.quantity-down {
	position: absolute;
	bottom: 0;
	height: 50%;
	border-radius: 0 0 4px 0;
}

ul div{ display: flex; justify-content: center; align-items: center; }

/*
	Layout
 */
[class^="uml-"]
	{ .box }
#uml-start, #uml-end
	{ background-image: url("../img/start.svg"); }
#uml-input
	{ background-image: url("../img/input.svg"); }
#uml-output
	{ background-image: url("../img/output.svg"); }
#uml-process
	{ background-image: url("../img/process.svg"); }
#uml-declaration
	{ background-image: url("../img/declaration.svg"); }
#uml-condition, #uml-loop
	{ background-image: url("../img/condition.svg"); }

.box.over { border: 3px dotted #666; }

.dragged {
	user-select: none;
	opacity: 0.1;
	cursor: default;
}

[draggable] { user-select: none; }

.container.jsx-1586752702 .CodeMirror__container {
	min-width: inherit;
	position: relative;
	z-index: 1;
	border-radius: 5px;
}

#textcode{
	resize: none;
	font-size: 12px;
	font-family: 'M PLUS 1 Code', sans-serif;
	font-weight: bold;
}

.emerw{ z-index: -1;}

@media(min-aspect-ratio: 16/9){ .emerw{ width: 100%;height: auto; } }
@media(max-aspect-ratio: 16/9){ .emerw{ width: auto;height: 100%; } }


#wtext{
	top:30%;
	text-align: center;
	position: relative;
	font-size: 130px;
	font-family: "Bebas Neue";
	text-shadow: 3px 4px 0px rgba(0,0,0,0.3);

}

.wbutton{ position: relative; width: 200px;
	z-index: 2; left: 50%; top: 35%;
	transform: translate(-50%, -35%); box-shadow: white;
	background-color: rgba(255,255,255,0.3); color: white;
	font-family: "Bebas Neue"; font-size: 25px;
	border-color: #f8f9fa;
}


/*.textp{
	text-align: center;
	top:35%;
	position: relative;
	font-size: 20px;
	font-family: "Arial";
	text-shadow: black;
}*/

/*
	Loader
 */

.lds-roller {
	display: inline-block;
	z-index: 3;
	background-color: rgba(40,138,255,0.3);
	overflow-y: hidden;
	overflow-x: hidden;
}

.lds-roller div {
	position: relative;
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
	top: 44%;
	left: 47%;
}
.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #fff;
	margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}
.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}
.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}
.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}
.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}
.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}
.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}
@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}